@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.body_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 31px -18px #585858;
}

.container_imgs {
    border-radius: 10px;
    padding: 1.5em;
    background-color:rgb(216, 216, 216);
    max-height: 600px;
    width: auto;

}
.img_recommendations {
    width:200px;
    height: 100%;
    max-height:300px ; 
}
.body_container > .container_imgs>a>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.body_container>a>.img_recommendations>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



